src
node_modules
tsconfig.json
*.map
.tags
.DS_Store
webpack.config.js
esbuild.js
yarn.lock
yarn-error.log
.github
.eslintrc.js
.prettierrc
sts4/
language-server/
jars/

!sts4/headless-services/spring-boot-language-server/
!sts4/headless-services/jdt-ls-extension/
!sts4/headless-services/xml-ls-extension/
